<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.practice.model.mapper.PurchaseMapper">

  <select id="findHistory" resultType="jp.co.internous.myshop.model.domain.dto.HistoryDto">
    SELECT p.id, p.user_id, p.goods_id, g.goods_name, p.item_count, p.total, p.created_at
    FROM purchase p
      INNER JOIN goods g
      ON p.goods_id = g.id
    WHERE  created_at = (
      SELECT MAX(created_at) FROM purchase p WHERE p.user_id = #{userId})
  </select>
  
</mapper>